.iconedSection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__block {
    flex-grow: 1;

    &--media {
      display: none;
    }
  }

  &__title {
    margin: 0;
    font-family: $font-main;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  &__description {
    margin: 0;
    font-family: $font-main;
    font-size: ;
  }
}

.u-layout {
  &--home {
    padding: 1.25rem;
  }
}
